.new-tweet {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-bottom: 1em;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
  border: none;
  margin-top: 1em;
}
textarea {
  resize: none;
 
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(64, 64, 64);
}
::placeholder {
  font-weight: bold;
  color: black;
}

.counter {
  font-family: 'Bungee', sans-serif;
  margin-left: 0;
  float: right;
  margin-top: 1em;
}
.red {
  color: red;
}

.error {
  border: 2px solid red;
  color: white;
  background-color: rgb(253, 82, 82);
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.5rem;
}